 <div class="user-details">
  <!-- <h1> My Expertise </h1> -->
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <!-- <i class="devicon-photoshop-plain colored"></i>
      <i class="devicon-illustrator-plain colored"></i> -->
      <!-- <p>I fell in love with digital media before I found my interest in tech. Editor of my middle + high school yearbooks, my passion for photography and minimalist design led me towards photography + video game art.</p> -->
    </div>
    <div class="tech">
      <h2>Code</h2>
      <!-- <i class="devicon-c-plain colored"></i>
      <i class="devicon-java-plain"></i>
      <i class="devicon-csharp-plain colored"></i> -->
      <!-- <p>My AP CS course in high school opened up my mind to other opportunities. Using Java as a way of communicating a solution was fascinating, and I was hooked. Throughout my time at UCF, I continued my learning of Java, C, and dove into other languages like C#, JavaScript and MIPS assembly.</p> -->
    </div>
    <div class="tech">
      <h2>Product</h2>
      <!-- <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-github-plain colored"></i> -->
      <!-- <p>I see product from an empathy-driven approach. A <i>good</i> product is easy to use. A <i>great</i> product is intuitive and works to empower the user. Customer research must be constantly evolving, to better support your evolving product.</p> -->
    </div>
</div>
